Repository anthrotech-dev/anthrotech-dev, changes with the owners that CODEOWNERS names for each.
All owners: @totegamma, @Yu-HaruWolf, @oinarisummer, @adoringonion, @inugamine, @rabbuttz, @hibikine, @ouroboros723, @naborisk, @graaaaaaa

CODEOWNERS:

totegamma/ @totegamma #admin
yu_haruwolf/ @Yu-HaruWolf
oinarisummer/ @oinarisummer
adoringonion/ @adoringonion
inugamine/ @inugamine
rabbuttz/ @rabbuttz
hibikinekage/ @hibikine
ouroboros723/ @ouroboros723
naborisk/ @naborisk
graaaaaaa/ @graaaaaaa

fix style
  src/layouts/Layout.astro
  src/styles/global.css
Owners: none

update favicon
  public/favicon.svg
  src/assets/astrotech.png
  src/layouts/Layout.astro
Owners: none

add video
  src/pages/index.astro
Owners: none

ファイル追加
  src/members/inugamine/swift.mdx
Owners: @inugamine

fix member page title for subpage
  src/pages/[...slug].astro
Owners: none

update document style
  src/layouts/Layout.astro
Owners: none

Swift Playground のまとめ的なリンクを追加
  src/members/inugamine/swift.mdx
Owners: @inugamine

add Folder and move File.
  src/members/inugamine/swiftPlayground/swift.mdx
Owners: @inugamine

for-in構文について追記
  src/members/inugamine/index.mdx
  src/members/inugamine/swift.mdx
  src/members/inugamine/swiftPlayground/swift.mdx
Owners: @inugamine

Delete src/members/inugamine/swift.mdx
  src/members/inugamine/swift.mdx
Owners: @inugamine

swift.mdx の名前を swiftMemo.mdx に変更した関連の修正を行いました
  src/members/inugamine/index.mdx
  src/members/inugamine/swiftPlayground/swiftMemo.mdx
Owners: @inugamine

細かい誤字脱字を修正
  src/members/inugamine/index.mdx
Owners: @inugamine

各チャプタと単元のリストアップを行いました
  src/members/inugamine/swiftPlayground/code1/command.mdx
  src/members/inugamine/swiftPlayground/code2/variable.mdx
  src/members/inugamine/swiftPlayground/swiftPlaygroundIndex.mdx
Owners: @inugamine

改行を br タグから半角スペース2つという方式に変更しました。
  src/members/inugamine/index.mdx
  src/members/inugamine/swiftPlayground/swiftPlaygroundIndex.mdx
  src/members/yu_haruwolf/index.mdx
Owners: @inugamine, @Yu-HaruWolf

「コマンド」の単元のいくつかのセクションの説明を書きました。
  src/members/inugamine/swiftPlayground/code1/command.mdx
Owners: @inugamine

yuki さんのファイルの改行を元に戻しました。
  src/members/yu_haruwolf/index.mdx
Owners: @Yu-HaruWolf

リンクの修正を行いました
  src/members/inugamine/index.mdx
  src/members/inugamine/swiftPlayground/swiftPlaygroundIndex.mdx
Owners: @inugamine

軽微な修正を行いました
  src/members/inugamine/swiftPlayground/swiftPlaygroundIndex.mdx
Owners: @inugamine

「コマンド」の単元と「関数」の単元のファイル情報について追記しました
  src/members/inugamine/swiftPlayground/swiftPlaygroundIndex.mdx
Owners: @inugamine

「コマンド」の単元の解答例や解説を書きました。
  src/members/inugamine/swiftPlayground/code1/command.mdx
Owners: @inugamine

「関数」の単元の解答例の原案を貼り付けました。
  src/members/inugamine/swiftPlayground/code1/function.mdx
Owners: @inugamine

細かい誤字や文言の修正を行いました。
  src/members/inugamine/swiftPlayground/code1/command.mdx
Owners: @inugamine

「新しい関数を作る」までの解説を記載しました。
  src/members/inugamine/swiftPlayground/code1/function.mdx
Owners: @inugamine

「関数」の単元の解説を記載しました。
  src/members/inugamine/swiftPlayground/code1/function.mdx
Owners: @inugamine

「forループ」の単元に着手
  src/members/inugamine/swiftPlayground/code1/for.mdx
  src/members/inugamine/swiftPlayground/swiftPlaygroundIndex.mdx
Owners: @inugamine

改行を追加しました
  src/members/inugamine/swiftPlayground/code1/command.mdx
Owners: @inugamine

fix routing
  src/components/Welcome.astro
  src/pages/[...slug].astro
Owners: none

refactor page path
  src/members/inugamine/index.mdx
  src/members/inugamine/swiftPlayground/index.mdx
Owners: @inugamine

add title
  src/pages/[...slug].astro
Owners: none

add title
  src/members/inugamine/swiftPlayground/code1/command.mdx
  src/members/inugamine/swiftPlayground/code1/function.mdx
  src/members/inugamine/swiftPlayground/index.mdx
  src/members/inugamine/swiftPlayground/swiftMemo.mdx
Owners: @inugamine

add sidebar
  src/components/FileTree.astro
  src/components/FileTreeNode.astro
  src/layouts/Layout.astro
  src/pages/[...slug].astro
Owners: none

update header
  src/layouts/Layout.astro
Owners: none

tweak style
  src/layouts/Layout.astro
Owners: none

add ogtag
  src/layouts/Layout.astro
  src/pages/[...slug].astro
Owners: none

tweak tree view
  src/components/FileTreeNode.astro
Owners: none

small fix
  src/layouts/Layout.astro
  src/pages/[...slug].astro
Owners: none

update sidebar
  src/components/FileTree.astro
  src/components/FileTreeNode.astro
Owners: none

small fix
  src/components/FileTree.astro
Owners: none

small fix
  src/components/FileTree.astro
  src/components/FileTreeNode.astro
Owners: none

for 文のコード例と解説を記載しました。
  src/members/inugamine/swiftPlayground/code1/for.mdx
Owners: @inugamine
